{% extends 'main.html'%}

{%block content%}

<h1>Block 1</h1>
<table border="1">
    <tr>
        <th>id</th>
        <th>title</th>
        <th>description</th>
        <th>price</th>
        <th>publication date</th>
        <th>publisher</th>
        <th>Availability</th>
        <th>option</th>
        <th>page</th>
    </tr>
    {%for book in books%}
    <tr>
        <th>{{book.id}}</th>
        <th>{{book.title}}</th>
        <th>{{book.description}}</th>
        <th>{{book.price}}</th>
        <th>{{book.publication_date}}</th>
        <th>{{book.publisher}}</th>
        <th>{{book.is_available}}</th>
        <td><a href="{%url 'delete' book.id%}">delete</a>,<a href="{%url 'edit' book.id%}">edit</a></td>
        <td><a href="{%url 'page2' book.id%}">block 2</a></td>

    </tr>
    {%endfor%}
</table>

<a href="{%url 'view'%}">view</a>
<a href="{%url 'AddBook'%}">add Book</a>
{%endblock%}